<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY AD</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/adAndOrderFront.css" />
  </head>
  <body>
    <header id="header">
      <ul class="nav-left">
        <li><a href="#">Buy</a></li>
        <li class="link"><a href="#">Rent</a></li>
      </ul>

      <ul class="link-list" id="link-list-1">
        <a href="#" class="list-item">item 1</a>
        <a href="#" class="list-item">item 2</a>
        <a href="#" class="list-item">item 3</a>
        <a href="#" class="list-item">item 4</a>
      </ul>

      <div class="nav-middle">
        <img src="/img/Logo3.jpg" alt="" />

        <div class="nav-title">
          <h1>house</h1>
        </div>
      </div>
      <div class="nav-right">
        <li><a href="#">Manage Rentals</a></li>
        <li><a href="#">Advertise</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Sign In</a></li>
      </div>
    </header>

    <aside class="border-black">
      <div
        id="my-ad-title"
        class="text-xl mb-3 text-center border-b border-black py-2"
      >
        我的廣告
      </div>

      <div class="flex">
        <div class="w-3/4 px-4">
          <button
            type="button"
            id="paid-ads-btn"
            class="condition-btn bg-blue-700 text-white py-2 px-4 rounded"
            value="paidAds"
          >
            已付款廣告
          </button>
          <button
            type="button"
            id="unpaid-ads-btn"
            class="condition-btn bg-blue-500 text-white py-2 px-4 rounded"
            value="unpaidAds"
          >
            未付款廣告
          </button>
        </div>
        <div class="w-1/4 text-center">
          <button
            id="add-ad-btn"
            type="button"
            class="condition-btn bg-blue-500 text-white py-2 px-4 rounded"
            value="unpaidAds"
          >
            新增廣告+
          </button>
        </div>
      </div>
    </aside>

    <main class="m-3">
    
      <div id="view-box" class="border border-gray-400 py-2 px-2 rounded-md">
      
        <table
          id="paid-ads-table"
          class="table-auto w-full border-collapse border border-gray-300"
        >
          <thead>
            <tr>
              <th class="px-4 py-2 bg-gray-200 text-left">廣告編號</th>
              <th class="px-4 py-2 bg-gray-200 text-left">房屋標題</th>
              <th class="px-4 py-2 bg-gray-200 text-center">詳細內容</th>
            </tr>
          </thead>
          <tbody>
          <th:block th:each="ad : ${ads}">
            <tr>
              <td class="px-4 py-2" th:text="${ad.adId}"></td>
              <td>
              	<a class="px-4 py-2 underline" th:href="@{#}" th:text="${ad.house.title}">
              	</a>
              </td>
              <td class="px-4 py-2 flex justify-center text-center">
                <button
                  type="button"
                  class="check-detail-btn bg-blue-500 rounded text-white w-16 py-2 hover:bg-blue-300"
                >
                  查看
                </button>
              </td>
            </tr>
            </th:block>
          </tbody>
        </table>

        <table
          id="unpaid-ads-table"
          class="table-auto w-full border-collapse border border-gray-300 hidden"
        >
          <thead>
            <tr>
              <th class="px-4 py-2 bg-gray-200 text-left">廣告編號</th>
              <th class="px-4 py-2 bg-gray-200 text-left">房屋標題</th>
              <th class="px-4 py-2 bg-gray-200 text-left">廣告金額</th>
              <th class="px-4 py-2 bg-gray-200 text-center">詳細內容</th>
              <th class="px-4 py-2 bg-gray-200 text-center">購買</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-4 py-2">1</td>
              <td class="px-4 py-2 underline">
                <a href="#">永康區房屋（連結到房屋頁面）</a>
              </td>
              <td class="px-4 py-2 text-right">300</td>
              <td class="px-4 py-2 flex justify-center text-center">
                <button
                  type="button"
                  class="check-detail-btn bg-blue-500 rounded text-white w-16 py-2 hover:bg-blue-300"
                >
                  查看
                </button>
              </td>
              <td class="px-4 py-2 text-center"><input type="checkbox" /></td>
            </tr>
            <tr id="total-amount">
              <td
                class="px-4 py-2 text-right border-t border-gray-400"
                colspan="2"
              >
                總計
              </td>
              <td class="px-4 py-2 text-right border-t border-gray-400">300</td>
              <td class="border-t border-gray-400 text-center" colspan="2">
                <a href="#">前往下單 <i class="fa-solid fa-arrow-right"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

        <table
          id="add-ad-table"
          class="table-auto w-full border-collapse border border-gray-300 hidden"
        >
          <thead>
            <tr>
              <th class="px-4 py-2 bg-gray-200 text-left">房屋編號</th>
              <th class="px-4 py-2 bg-gray-200 text-left">查看房屋</th>
              <th class="px-4 py-2 bg-gray-200 text-left">廣告方案</th>
              <th class="px-4 py-2 bg-gray-200 text-right">廣告價格</th>
              <th class="px-4 py-2 bg-gray-200 text-center">新增廣告</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-4 py-2">1</td>
              <td class="px-4 py-2 underline">
                <a href="#">永康區房屋（連結到房屋頁面）</a>
              </td>
              <td class="px-4 py-2">
                <select name="" id="">
                  <option>30天</option>
                  <option>60天</option>
                </select>
              </td>
              <td class="px-4 py-2 text-right">300</td>
              <td class="px-4 py-2 text-center"><input type="checkbox" /></td>
            </tr>
            <tr>
              <td
                class="text-right border border-t border-gray-300"
                colspan="5"
              >
                <button
                  class="confirm-add-btn bg-blue-500 text-white py-2 px-4 rounded m-2 hover:bg-blue-300"
                >
                  確認新增廣告
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- 確認彈跳視窗 -->
      <div
        id="modal-background"
        class="fixed inset-0 bg-gray-500/75 hidden"
      ></div>
      <div
        id="success-modal"
        class="fixed inset-0 z-10 bg-gray-500/75 flex items-center justify-center hidden"
      >
        <div class="bg-white rounded-lg shadow-lg w-3/4">
          <div class="m-4">
            <h3 class="text-2xl font-semibold m-4 text-gray-900 text-center">
              <i class="fa-solid fa-check" style="color: #63e6be"></i> 新增成功
            </h3>
            <div class="text-right mt-10">
              <button
                id="close-sucess-modal"
                type="button"
                class="modal-btn px-3 py-1.5 bg-gray-500 text-white rounded hover:bg-gray-400"
              >
                關閉
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- 廣告詳細內容 -->
      <div
        id="ad-detail-modal"
        class="fixed inset-0 z-20 bg-gray-500/75 flex items-center justify-center hidden"
      >
        <div class="bg-white rounded-lg shadow-lg w-4/5 h-4/5 p-8">
          <div class="mt-4 text-right">
            <button
              id="close-ad-modal-btn"
              class="px-3 py-1.5 bg-red-500 text-white rounded hover:bg-red-600"
            >
              X
            </button>
          </div>
          <h3 class="text-2xl font-semibold text-gray-900 text-center">
            廣告內容
          </h3>
          <div class="m-4 overflow-auto h-[calc(100%-6rem)]">
            <table class="border border-gray-400 w-full">
              <thead class="bg-gray-200">
                <tr>
                  <th class="px-4 py-2">廣告編號</th>
                  <th class="px-4 py-2">房屋標題</th>
                  <th class="px-4 py-2">廣告種類</th>
                  <th class="px-4 py-2">廣告金額</th>
                  <th class="px-4 py-2">付款狀態</th>
                  <th class="px-4 py-2">訂單號碼</th>
                  <th class="px-4 py-2">付款日期</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center">
                  <td>廣告編號</td>
                  <td>房屋標題</td>
                  <td>廣告種類</td>
                  <td>廣告金額</td>
                  <td>付款狀態</td>
                  <td>訂單號碼</td>
                  <td>付款日期</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>
    <script type="module">
      import * as ListJs from "/js/ListScript.js";
      ListJs.init();
    </script>
    <script type="module" src="/js/adPage.js"></script>
  </body>
</html>
