<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="zh-hant-TW">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/booking.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<title>BOOKING</title>
</head>

<body>
	<div class="wrapper">
		<div id="calendar">
			<div class="header">
				<div class="overlay">
					<h1>預約</h1>
				</div>
			</div>
			<div class="monthChange"></div>
		</div>

		<div class="inner-wrap">
			<form>
				<div class="form-name">
					<input type="text" name="name" id="name" />
					<label for="name">Your name</label>
				</div>

				<div class="form-name">
					<input type="email" name="email" id="email" />
					<label for="email">Your email</label>
				</div>

				<button type="submit" class="request disabled">
					Request appointment <br class="break" />
					<span>on</span>
					<span class="day"></span>
					<span>at</span>
					<span class="time"></span>
					<div class="sendRequest"></div>
				</button>
			</form>
		</div>

		<div class="timepicker">
			<div class="owl">
				<div>06:00 ~ 06:30</div>
				<div>06:30 ~ 07:00</div>
				<div>07:00 ~ 07:30</div>
				<div>07:30 ~ 08:00</div>
				<div>08:00 ~ 08:30</div>
				<div>08:30 ~ 09:00</div>
				<div>09:00 ~ 09:30</div>
				<div>09:30 ~ 10:00</div>
				<div>10:00 ~ 10:30</div>
				<div>10:30 ~ 11:00</div>
				<div>11:00 ~ 11:30</div>
				<div>11:30 ~ 12:00</div>
				<div>12:00 ~ 12:30</div>
				<div>12:30 ~ 13:00</div>
				<div>13:00 ~ 13:30</div>
				<div>13:30 ~ 14:00</div>
				<div>14:00 ~ 14:30</div>
				<div>14:30 ~ 15:00</div>
				<div>15:00 ~ 15:30</div>
				<div>15:30 ~ 16:00</div>
				<div>16:00 ~ 16:30</div>
				<div>16:30 ~ 17:00</div>
				<div>17:00 ~ 17:30</div>
				<div>17:30 ~ 18:00</div>
				<div>18:00 ~ 18:30</div>
				<div>18:30 ~ 19:00</div>
				<div>19:00 ~ 19:30</div>
				<div>19:30 ~ 20:00</div>
				<div>20:00 ~ 20:30</div>
				<div>20:30 ~ 21:00</div>
			</div>
			<div class="fade-l"></div>
			<div class="fade-r"></div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.2/owl.carousel.min.js"></script>
	
	<script src="/js/booking.js"></script>
</body>

</html>