<!DOCTYPE html>
<html lang="zh-hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="timepicker">
        <div class="owl">
            <div>06:00</div>
            <div>07:00</div>
            <div>08:00</div>
            <div>09:00</div>
            <div>10:00</div>
            <div>11:00</div>
            <div>12:00</div>
            <div>13:00</div>
            <div>14:00</div>
            <div>15:00</div>
            <div>16:00</div>
            <div>17:00</div>
            <div>18:00</div>
            <div>19:00</div>
            <div>20:00</div>
        </div>
        <div class="fade-l"></div>
        <div class="fade-r"></div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js"
        integrity="sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

        var houseId = 2;
        var time;
        var day;
        var month;
        var year;
        var months = ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"];
        var center;

        var weekDay;
        var fromDate;
        var toDate;
        var fromTime = "09:00:00";
        var toTime = "12:00"
        var duration = 60;


        console.log(fromTime);

        const owl = $(".timepicker .owl");
        owl.empty();

        // 將 fromTime 和 toTime 轉換為 Date 對象
        var startTime = new Date(`1970-01-01T${fromTime}`);
        var endTime = new Date(`1970-01-01T${toTime}`);

        // 計算時間段
        while (startTime < endTime) {
            // 計算結束時間
            var nextTime = new Date(startTime.getTime() + duration * 60000); // duration 以分鐘為單位

            // 構建時間段的字符串
            var timeSlot = `${startTime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })} `;
            var timeSlot1 = `${nextTime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })}`;

            // 創建新的 div 元素並添加到 .owl 中
            owl.append(`<div>${timeSlot}</div>`).append(`<div hidden>${timeSlot1}</div>`);


// 構建時間段的字符串
var timeSlot = `${startTime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false })}`;

// 創建新的 div 元素並添加到 .owl 中
owl.append(`<div >${timeSlot}</div>`);





            // 更新開始時間到下一個時間段
            startTime = nextTime;
        }

    </script>
</body>

</html>