<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent house</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
	
	<div th:replace="~{layout/navbar}"></div>
	
    <div class="filter" id="filter">
        <div class="filter-left">
            <input type="text" placeholder="Address, neighborhood, city, ZIP" id="search"> <i
                class="fa-solid fa-magnifying-glass"></i>
        </div>
        <ul class="absolute left-0 w-full mt-1 bg-white border border-gray-300 rounded shadow-lg" id="searchList"></ul>
        <div class="filter-right">
            <button
                class="filter-btn bg-white text-black font-bold py-2 px-4 rounded hover:bg-gray-100 border border-blue-700"
                id="filter-btn-1">
                Price <i class="fa-solid fa-angle-down"></i>
            </button>
            <button
                class="filter-btn bg-white text-black font-bold py-2 px-4 rounded hover:bg-gray-100 border border-blue-700"
                id="filter-btn-2">
                HomeType <i class="fa-solid fa-angle-down"></i>
            </button>
        </div>
        <ul class="btn-list" id="btn-list-1">
            <p>Price Range</p>
            <div class="inputPrice">
                <div class="left-minimum">
                    <p>Minimum</p>
                    <input
                    type="text"
                    id="btn-minimum"
                    placeholder="價錢..."
                    class="w-20 px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                    />
                </div>
                <div class="right-maximum">
                    <p>Maximum</p>
                    <input
                    type="text"
                    id="btn-maximum"
                    placeholder="價錢..."
                    class="w-20 px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                    />
                </div>
            </div>

        </ul>
        <ul class="btn-list" id="btn-list-2">
            <p>HomeType</p>
            <div class="checkHomeType">
                <input
                type="checkbox"
                id="option1"
                class="h-5 w-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2"
              />
              <label for="option1" class="text-sm font-medium text-gray-700">Option 1</label>
            </div>
        </ul>
    </div>

    <main class="main">
        <div id="map"></div>
        <div class="main-right bg-white p-1 custom-left-shadow w-160" id="mRight">
            <div id="card-container" class="container mx-auto p-4 grid grid-cols-1 md:grid-cols-2 gap-6">

            </div>
        </div>
    </main>

    <footer> </footer>

    <script th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleApiKey} + '&callback=initMap&v=weekly&libraries=marker,places'" async defer></script>
    <script src="https://unpkg.com/animejs@3.2.1/lib/anime.min.js"></script>
    <script type="text/javascript" src="/js/GoogleScript.js"></script>
    <script type="text/javascript" src="/js/ListScript.js"></script>
    <script type="text/javascript" src="/js/CardScript.js"></script>
    <script type="text/javascript" src="/js/ButtonScript.js"></script>


    <script type="text/javascript">
        function bookingPage(houseId) {
            window.location.href = "/booking/house/" + houseId;
        }

        function editSlot(houseId) {
            window.location.href = "/booking/timeSlot/" + houseId;
        }
    </script>
</body>

</html>