<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent house</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>
    <div class="filter" id="filter">
        <div class="filter-left">
            <input type="text" placeholder="Address, neighborhood, city, ZIP" id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <ul class="absolute left-0 w-full mt-1 bg-white border border-gray-300 rounded shadow-lg" id="searchList"></ul>
        <div class="filter-right">
            <button class="filter-btn bg-white text-black font-bold py-2 px-4 rounded hover:bg-gray-100 border border-blue-700" id="filter-btn-1" >
                Price
                <i class="fa-solid fa-angle-down"></i>
            </button>
            <button class="filter-btn bg-white text-black font-bold py-2 px-4 rounded hover:bg-gray-100 border border-blue-700">
                HomeType
                <i class="fa-solid fa-angle-down"></i>
            </button>
        </div>
        <ul class="btn-list" id="btn-list-1">
            <li>Price Range</li><hr>
            <li>Minimum<input type="text" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" placeholder="請輸入數字 .."></li>
        </ul>
    </div>
	
    <main class="main">
        <div id="map"></div>
        <div class="main-right bg-white p-1 custom-left-shadow w-160" id="mRight" >
            <div id="card-container" class="container mx-auto p-4 grid grid-cols-1 md:grid-cols-2 gap-6">
                
            </div>
        </div>
    </main>

    <footer>

    </footer>
    <script type="module" src="/js/index.js"></script>
    <script src="https://unpkg.com/animejs@3.2.1/lib/anime.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB74YfHLENToX6YpaEoKASZnhaZdqIio2s&callback=initMap&v=weekly&libraries=marker,places" async defer ></script>
    
</body>
</html>