<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/vue3-easy-data-table/dist/style.css"
      rel="stylesheet"
    />
    <style>
      .customize-table th {
        font-size: 15px; /* Font size for table headers */
      }

      .customize-table td {
        font-size: 15px; /* Font size for table cells */
      }

      .customize-table .pagination {
        font-size: 15px; /* Font size for pagination controls */
      }

      .customize-table buttons-pagination .page-item,
      .customize-table buttons-pagination .page-link {
        font-size: 15px; /* Font size for pagination items and links */
      }
    </style>
  </head>
  <body>
    <div id="app">
      <table style="width: 100%">
        <tr>
          <td style="width: 50%">
            <label class="form-label">篩選關鍵字:</label>
            <input
              type="text"
              class="form-control"
              v-model="searchValue"
              placeholder="請輸入篩選關鍵字"
            />
          </td>
        </tr>
      </table>

      <easy-data-table
        show-index
        theme-color="#1d90ff"
        table-class-name="customize-table"
        alternating
        :headers="headers"
        :items="houses"
        buttons-pagination
        :rows-per-page="10"
        :search-value="searchValue"
      >
        <template #loading>
          <img
            src="../static/preLoading.gif"
            style="width: 100px; height: 80px"
          />
        </template>
        <template #empty-message>
          <h5>未發現符合條件的記錄!</h5>
        </template>
        <template #item-Name="{ HouseID, Title,Price}">
          <div class="house-photo-carousel" v-if="photos.length > 0">
            <div class="carousel-container">
              <div class="main-image">
                <img 
                  :src="currentPhoto" 
                  :key="currentPhoto"
                  class="img-fluid"
                  alt="House Photo"
                />
              </div>
              
              <div class="thumbnail-navigation">
                <button 
                  @click="previousPhoto" 
                  class="nav-button prev-button"
                >
                  &lt;
                </button>
                
                <div class="thumbnails">
                  <img 
                    v-for="(photo, index) in photos" 
                    :key="index"
                    :src="photo"
                    @click="selectPhoto(index)"
                    :class="{ 'active': currentPhotoIndex === index }"
                    class="thumbnail"
                  />
                </div>
                
                <button 
                  @click="nextPhoto" 
                  class="nav-button next-button"
                >
                  &gt;
                </button>
              </div>
            </div>
          </div>
          <div v-else-if="loading" class="loading">
            載入中...
          </div>
          <div v-else class="no-photos">
            無可用照片
          </div>
        </template>
        <template #item-operation="item">
          <div class="operation-wrapper">
            <img
              src="../static/delete-24.png"
              class="operation-icon"
              @click="deleteItem(item)"
            />
          </div>
        </template>
        <!-- 下拉擴增是格式 -->
        <template #expand="item">
          <div style="padding: 15px">
            Address : {{item.Address + ' ' + item.City + ' ' + item.PostalCode +
            ' ' + item.Country }}
          </div>
        </template>
      </easy-data-table>
    </div>
    <script type="module" src="js/CollectHouse.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/vue3-easy-data-table"></script>
    
  </body>
</html>
