<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent house</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/adAndOrderFront.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

</head>
<body>
	<div th:replace="~{layout/navbar}"></div>

    <aside class="border-black">
      <div
        id="my-ad-title"
        class="text-xl mb-3 text-center border-b border-black py-2"
      >
        VIP物件訂單
      </div>
      <div id="search-box" class="flex">
        <div class="px-4">
          <button
            type="button"
            id="all-orders-btn"
            class="condition-btn-group1 bg-blue-700 text-white py-2 px-4 rounded"
            value="allOrders"
          >
            所有訂單
          </button>
          <button
            type="button"
            id="alive-orders-btn"
            class="condition-btn-group1 bg-blue-500 text-white py-2 px-4 rounded"
            value="active"
          >
            一般訂單
          </button>
          <button
            type="button"
            id="canceled-orders-btn"
            class="condition-btn-group1 bg-blue-500 text-white py-2 px-4 rounded"
            value="cancelled"
          >
            已取消之訂單
          </button>

          <!--其他選項（下拉式選單）-->
          <div class="relative inline-block text-left">
            <div>
              <button
                type="button"
                id="menu-button"
                class="condition-btn-group2 inline-flex w-full justify-center gap-x-1.5 rounded bg-blue-500 text-white px-4 py-2 whitespace-nowrap"
                aria-expanded="true"
                aria-haspopup="true"
              >
                其他搜尋方式
                <i class="fa-solid fa-arrow-down py-1"></i>
              </button>
            </div>
            <div
              id="dropdown-menu"
              class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none hidden"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="menu-button"
              tabindex="-1"
            >
              <div class="py-1" role="none">
                <button
                  type="button"
                  id="menu-item-marchantTradNo"
                  class="menu-item block px-4 py-2 hover:text-blue-500 w-full"
                  role="menuitem"
                  tabindex="-1"
                  value="merchantTradNo"
                >
                  以訂單號碼搜尋
                </button>
                <button
                  type="button"
                  id="menu-item-datetimepicker"
                  class="menu-item block px-4 py-2 hover:text-blue-500 w-full"
                  role="menuitem"
                  tabindex="-1"
                  value="period"
                >
                  以時間搜尋
                </button>
                <button
                  type="button"
                  id="menu-item-houseTitle"
                  class="menu-item block px-4 py-2 hover:text-blue-500 w-full"
                  role="menuitem"
                  tabindex="-1"
                  value="houseTitle"
                >
                  以房屋搜尋
                </button>
                <button
                  type="button"
                  id="menu-item-marchantTradNo"
                  class="menu-item block px-4 py-2 hover:text-blue-500 w-full"
                  role="menuitem"
                  tabindex="-1"
                  value="none"
                >
                  不設條件
                </button>
              </div>
            </div>
          </div>
        </div>
        <input
          id="search-input"
          type="text"
          class="border border-black rounded h-10 text-center w-56 hidden"
        />
      </div>
    </aside>

    <main class="m-3">
      <div id="view-box" class="border border-gray-400 py-2 px-2 rounded-md">
        <table
          id="paid-list-table"
          class="table-auto w-full border-collapse border border-gray-300"
        >
          <thead>
            <tr>
              <th class="px-4 py-2 bg-gray-200 text-left">訂單編號</th>
              <th class="px-4 py-2 bg-gray-200 text-left">訂單內容</th>
              <th class="px-4 py-2 bg-gray-200 text-left">下單日期</th>
              <th class="px-4 py-2 bg-gray-200 text-left">訂單狀態</th>
              <th class="px-4 py-2 bg-gray-200 text-center">訂單詳細</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        </div>

        <!--訂單詳細內容-->
        <div id="modal-background" class="fixed inset-0 bg-gray-500/75 hidden"></div>
        <div id="modal" class="fixed inset-0 z-10 bg-gray-500/75 flex items-center justify-center hidden">
          
          <div class="bg-white rounded-lg shadow-lg w-4/5 h-4/5 p-8">
            <div class="mt-4 text-right">
              <button id="close-modal-btn" class="px-3 py-1.5 bg-red-500 text-white rounded hover:bg-red-600"> X </button>
            </div>
            <h3 class="text-2xl font-semibold text-gray-900 text-center" id="modal-title">
              訂單內容
            </h3>
            <div class="m-4 overflow-auto h-[calc(100%-6rem)]">
              <table class="border border-gray-400 w-full">
                <thead class="bg-gray-200">
                  <tr>
                    <th class="px-4 py-2">訂單號碼</th>
                    <th class="px-4 py-2">物件內容</th>
                    <th class="px-4 py-2">廣告詳細</th>
                    <th class="px-4 py-2">訂單金額</th>
                    <th class="px-4 py-2">付款日期</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td>訂單號碼</td>
                    <td>物件內容</td>
                    <td>廣告種類</td>
                    <td>廣告詳細</td>
                    <td>訂單金額</td>
                    <td>付款日期</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>

      </div>
    </main>

    <footer></footer>
    <!-- <script type="module">
      import * as ListJs from "/js/ListScript.js";
      ListJs.init();
    </script>
    -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/js/orderPage.js"></script>
  </body>
</html>
